* {
  font-family: 'Inter Light', 'IBM Plex Sans JP';
  font-feature-settings: 'liga' 1, 'calt' 1;
}

#tabs-tabbar-container *,
.UrlField, .OmniDropdown,
.ClockButton > button {
  font-size: 0.9rem;
}
